.cardDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.cardcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  flex: 1 1 calc(25% - 1rem); /* 4 per row on desktop */
  margin: 2rem 0;
  cursor: pointer;
  max-width: 400px;
}

.h4TextCard {
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 600;
}

.pCardText {
  font-style: italic;
  font-size: large;
  text-shadow: 1px 1px 1px rgb(180, 180, 180);
  font-family: system-ui, sans-serif;
}

.card-text-content-wrapper {
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  color: white;
}

.cardcontainer:hover .card-text-content-wrapper {
  opacity: 1;
}

.cardcontainer:hover {
  transform: scale(1.05);
}

.cardImg {
  height: 60vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* --- Small Laptops / Tablets --- */
@media (max-width: 1200px) {
  .cardcontainer {
    flex: 1 1 calc(50% - 1rem); /* 2 per row */
  }
}

/* --- Mobile Phones --- */
@media (max-width: 600px) {
  .cardcontainer {
    flex: 1 1 100%; /* Full width on mobile */
    max-width: none;
  }
  .cardcontainer.active .card-text-content-wrapper {
    opacity: 1;
  }
}
